/* Add animation keyframes for fade-in and bounce */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

/* Create a class for fade-in animation */
.fade-in {
    /* Add fade-in animation */
    animation: fadeIn 1s ease-in-out;
}

/* Create a class for bounce animation */
.bounce:hover {
    /* Add bounce animation */
    animation: bounce 0.4s ease-in-out;
}

.float {
    animation: float 3s ease-in-out infinite;
}

#boot {
    /* background-image: linear-gradient(to bottom, pink, yellow); */
    background-color: white;
    height: 101%;
    width: 101%;
    left: -0.5%;
    top: -0.5%;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    opacity: 0;
}